<h1> Hoarding Holidays </h1>
<h3> The finest collection of holiday foods </h3>

<div> <%= link_to "View Holidays", holidays_path %>
      <%= link_to "View Ingredients", ingredients_path %>
      <%= link_to "View Recipes", recipes_path %>
