<h1> Hoarding Holidays </h1>
<h3> The finest collection of holiday foods </h3>

<div> <%= link_to "View Holiday Options", holidays_path %>
      <%= link_to "View All Ingredient Options", ingredients_path %>
      <%= link_to "View All Recipes", recipes_path %>