<h1> All Holidays </h1>

<ul>
    <% @holidays.each do |holiday| %>
        <br>
        <li> <%= link_to holiday.name, holiday_path(holiday) %> </li>
    <%end%>
</ul>

<br><br><br>

<form method="get" action="/recipes" class="button_to">
<input value="Go To Recipes" type="submit" />
</form>

<form method="get" action="/ingredients" class="button_to">
    <input value="Go To Ingredients" type="submit" />
</form>

<form method="get" action="/" class="button_to">
    <input value="Go To Homepage" type="submit" />
</form>