<h1> All Recipes </h1>


<ul>
    <% @recipes.each do |recipe| %>
        <br>
        <li> <%= link_to recipe.name, recipe_path(recipe) %> </li>
    <%end%>
</ul>

<br><br><br>

<form method="get" action="/ingredients" class="button_to">
<input value="Go To Ingredients" type="submit" />
</form>

<form method="get" action="/holidays" class="button_to">
    <input value="Go To Holidays" type="submit" />
</form>
