<h1> All Recipes </h1>


<ul>
    <% @recipes.each do |recipe| %>
        <br>
        <li> <%= link_to recipe.name, recipe_path(recipe) %> </li>
    <%end%>
</ul>

<br><br><br>

 <%= button_to('Go To Ingredients', ingredients_path,
        method: "get")  %>

<%= button_to('Go To Holidays', holidays_path,
        method: "get")  %>