<h1> <%= @ingredient.name %> </h1>

<ul>
  <% @ingredient.recipes.each do |recipe| %>
  <br> <h3>Recipe</h3>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %> 
</ul>
<br>
<%= link_to "All Ingredients", ingredients_path%>